@model List<AquariumForum.Models.Discussion>

@{
    ViewData["Title"] = "Aquarium Forum";
}

<h1 class="fw-bold">Aquarium Forum</h1>

<div class="mb-4">
    A place for aquarium enthusiasts alike.
</div>

<div class="masonry-grid">
    @foreach (var item in Model)
    {
        string imageUrl = Url.Content("/images/" + item.ImageFilename);

        <div class="masonry-grid-item">
            <a href="@Url.Action("DiscussionDetails", "Home", new { id = item.DiscussionId })">
                <img src="@imageUrl" class="img-fluid" alt="@item.Title" />
            </a>
        </div>
    }
</div>