/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}*/

.thumbnail {
    width: 100px;
    height: auto;
}

.profile-pic {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

/* Home page masonry styles
-------------------------------------------------- */
.masonry-grid {
    column-count: 3;
    column-gap: 1.5em;
}

.masonry-grid-item {
    display: inline-block;
    margin: 0 0 2em;
    width: 100%;
}

    .masonry-grid-item img:hover {
        filter: brightness(0.65);
        cursor: pointer;
    }

/* collapse grid to 2 columns */
@media (max-width: 992px) {
    .masonry-grid {
        column-count: 2;
    }
}

/* collapse grid to 1 column */
@media (max-width: 768px) {
    .masonry-grid {
        column-count: 1;
    }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}
